<div class='star-wrapper'>
	<div id='stars-near'></div>
	<div id='stars-mid'></div>
	<div id='stars-far'></div>
</div>


<div class='center bow'>
	<a href='#'><div class='bow__star bow__star-one'></div></a>
	<a href='#'><div class='bow__star bow__star-two'></div></a>
	<a href='#'><div class='bow__star bow__star-three'></div></a>
	<a href='#'><div class='bow__star bow__star-four'></div></a>
	<a href='#'><div class='bow__star bow__star-five'></div></a>
</div>
<div class='live'>
	<h1 class='script'>Bow Live</h1>
</div>
<div class='video-wrapper'>
	<video id="bgvid" muted="muted" volume="0" preload="auto" autoplay="autoplay" loop="loop">
	  <source src="/LovesoundMV.mp4" type="video/webm">
	  <source src="/SLovesoundMV.mp4" type="video/ogv">
	  <source src="/LovesoundMV.mp4" type="video/mp4">
	  Sorry, your browser does not support HTML5 video.
	</video>
</div>