<div class="parallax">
	<div class='star-wrapper'>
		<div id='stars-near'></div>
		<div id='stars-mid'></div>
		<div id='stars-far'></div>
	</div>
  <div class='content-wrapper'>
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
	      <div class='bow_container'>
	      	<div class='bow'>
	      		<a href='#'><div class='bow__star bow__star-one'></div></a>
						<a href='#group3'><div class='bow__star bow__star-two'></div></a>
						<a href='#group4'><div class='bow__star bow__star-three'></div></a>
						<a href='#'><div class='bow__star bow__star-four'></div></a>
						<a href='#'><div class='bow__star bow__star-five'></div></a>
						<img src="/BowConstellation-FINAL.svg" class='bow_constellation'/>
						<img src='/BowSillhouette.png' class='bow_silhouette'/>
					</div>
				</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer-rel parallax__layer--base">
      	<h1 id='test' class='script'>Bow Music</h1>
      	<div class='row container albums'>
      		<div class='col-md-6'>
      			<audio id='trackOne'>
      				<source src="BeYourBow.ogg" type="audio/ogg">
						  <source src="BeYourBow.mp3" type="audio/mpeg">
							Your browser does not support the audio element.
						</audio>
    				<div id='beYourBow' class='albums__coverart center'>
							<img src='/BeYourBowCoverArt.png' class='img-responsive'/>
							<a><div id='beYourBowInner' class='albums__coverart-inner'>
								<div class='albums__coverart-text'>
									<h2>Be Your Bow</h2>
									<img id='trackOnePlay' src='/PlayButton.png' class='play--button-music center'/>
									<img id='trackOnePause' src='/PauseButton.png' class='pause--button-music center'/>
								</div>
							</div></a>
						</div>
					</div>
					<div class='col-md-6'>
						<audio id='trackTwo'>
						  <source src="/Lovesound.ogg" type="audio/ogg">
						  <source src="/Lovesound.mp3" type="audio/mpeg">
							Your browser does not support the audio element.
						</audio>
						<div id='lovesound' class='albums__coverart center'>
							<img src='/LovesoundCoverArt.png' class='img-responsive'/>
							<a><div id='lovesoundInner' class='albums__coverart-inner'>
								<div class='albums__coverart-text'>
									<h2>Lovesound</h2>
									<img id='trackTwoPlay' src='/PlayButton.png' class='play--button-music center'/>
									<img id='trackTwoPause' src='/PauseButton.png' class='pause--button-music center'/>
								</div>
							</div></a>
						</div>
					</div>
				</div>
				<div class='albums-listen'>
					<h2 class='center'>LISTEN ON</h2>
					<div class='albums__logos center'>
						<a href='https://open.spotify.com/artist/1BygGOp0eZirObthaawEs7' target='_blank'><img src='/Spotify_Logo(400).png'/></a>
						<a href='https://itunes.apple.com/us/artist/bow/id1001685633' target='_blank'><img src='/Apple_Logo(400).png'/></a>
						<a href='https://www.youtube.com/user/LizLohnes' target='_blank'><img src='/YouTube_Logo(400).png'/></a>
					</div>
				</div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
        	<h1 class='script'>Lovesound</h1>
        	<a id='lovesoundOpen'><img src='/PlayButton.png' class='play--button-video center'/></a>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class='video-wrapper'>
        	<div id="bgimg">
        		<img src='/LovesoundStill.png'/>
        	</div>
					<video id="bgvid" muted="muted" volume="0" preload="auto" autoplay="autoplay" loop="loop">
					  <source src="/LovesoundMV.mp4" type="video/webm">
					  <source src="/SLovesoundMV.mp4" type="video/ogv">
					  <source src="/LovesoundMV.mp4" type="video/mp4">
					  Sorry, your browser does not support HTML5 video.
					</video>
				</div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <h1 class='script'>Bow Live</h1>
	      <div class='live__dates container'> 
	      	<table class='table'>
	      		<thead>
	      			<tr>
	      				<th>Date</th>
	      				<th>Venue</th>
	      				<th>City</th>
	      				<th>Tickets</th>
	      			</tr>
	      		</thead>
	      		<tbody>
	      			<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>City 1</td>
		      			<td>Tickets 1</td>
		      		</tr>
		      		<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>City 2</td>
		      			<td>Tickets 1</td>
		      		</tr>
		      		<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>City 3</td>
		      			<td>Tickets 1</td>
		      		</tr>
		      		<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>City 4</td>
		      			<td>Tickets 1</td>
		      		</tr>
		      		<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>City 5</td>
		      			<td>Tickets 1</td>
		      		</tr>
	      		</tbody>
	      	</table>
	      </div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <h1 class='script'>Bow Social</h1>
        <div class='social-icons center'>
        	<img src='/Facebook.png' />
        	<img src='/Twitter.png' />
        	<img src='/Instagram.png' />
        	<img src='/GooglePlus.png' />
        </div>
        <div class='center contact'>
        	<form>
			    <input type='text'class="contact-input"/>
			    </form>
			  </div>
        <div class='row'>
        	<div class='col-md-6 center'>
        		<h2>Instagram</h2>
	        	<script type="text/javascript">
						     var userFeed = new Instafeed({
						        get: 'user',
						        userId: 300827078,
						        accessToken: '300827078.71f0ebd.3278b2e1e2d0490dbc4e1be538b7dd9e',
						        limit: 6
						    });
						    userFeed.run();
						</script>
						<div id="instafeed" class='social_feed-instagram center'></div>
					</div>
	        <div class='col-md-6 center'>
	        	<h2>Facebook</h2>
						<div class="fb-page" data-href="https://www.facebook.com/pages/Bow/12012275279" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
							<div class="fb-xfbml-parse-ignore">
								<blockquote cite="https://www.facebook.com/pages/Bow/12012275279"><a href="https://www.facebook.com/pages/Bow/12012275279">Bow</a></blockquote>
							</div>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>