<div class="parallax">
	<div class='star-wrapper'>
	<div id='stars-near'></div>
	<div id='stars-mid'></div>
	<div id='stars-far'></div>
</div>
  <div class='content-wrapper'>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class='center bow'>
					<a href='#'><div class='bow__star bow__star-one'></div></a>
					<a href='#group3'><div class='bow__star bow__star-two'></div></a>
					<a href='#group4'><div class='bow__star bow__star-three'></div></a>
					<a href='#'><div class='bow__star bow__star-four'></div></a>
					<a href='#'><div class='bow__star bow__star-five'></div></a>
				</div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div>
        	<h1 class='script'>Be My Bow</h1>
        	<div class='row container'>
        		<div class='col-md-6'>
							<img src='/BeYourBowSingleArt.png' class='img-responsive' style='max-height:50vh;'/>
						</div>
						<div class='col-md-6'>
							<span>Album #1</span>
							<ul>
								<li>Track 1</li>
								<li>Track 2</li>
								<li>Track 3</li>
								<li>Track 4</li>
								<li>Track 5</li>
							</ul>
						</div>
					</div>
				</div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title"><h1 class='script'>Lovesound</h1></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class='video-wrapper'>
					<video id="bgvid" muted="muted" volume="0" preload="auto" autoplay="autoplay" loop="loop">
					  <source src="/LovesoundMV.mp4" type="video/webm">
					  <source src="/SLovesoundMV.mp4" type="video/ogv">
					  <source src="/LovesoundMV.mp4" type="video/mp4">
					  Sorry, your browser does not support HTML5 video.
					</video>
				</div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <h1 class='script'>Bow Live</h1>
	      <div class='live__dates'> 
	      	<table class='table center'>
	      		<thead>
	      			<tr>
	      				<th>Date</th>
	      				<th>Venue</th>
	      				<th>Tickets</th>
	      			</tr>
	      		</thead>
	      		<tbody>
	      			<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>Tickets 1</td>
		      		</tr>
		      		<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>Tickets 1</td>
		      		</tr>
		      		<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>Tickets 1</td>
		      		</tr>
		      		<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>Tickets 1</td>
		      		</tr>
		      		<tr>
		      			<td>Date 1</td>
		      			<td>Venue 1</td>
		      			<td>Tickets 1</td>
		      		</tr>
	      		</tbody>
	      	</table>
	      </div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <h1 class='script'>Bow Social</h1>
        <div class='social-icons center'>
        	<img src='/Facebook.png' />
        	<img src='/Twitter.png' />
        	<img src='/Instagram.png' />
        	<img src='/GooglePlus.png' />
        </div>
        <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/2340b3df09008d1a964b35f8b30a08750c5d399a.html" id="instansive_2340b3df09" name="instansive_2340b3df09"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 40%; border: 0; overflow: hidden;"></iframe>
        <a class="twitter-timeline" href="https://twitter.com/beyourbow" data-widget-id="622619099135393792">Tweets by @Mike_Baldo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div class="fb-page" data-href="https://www.facebook.com/pages/Bow/12012275279" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Bow/12012275279"><a href="https://www.facebook.com/pages/Bow/12012275279">Bow</a></blockquote></div></div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
  </div>
</div>