<div class="parallax">
	<div class='star-wrapper'>
	<div id='stars-near'></div>
	<div id='stars-mid'></div>
	<div id='stars-far'></div>
</div>
    
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class='center bow'>
	<a href='#'><div class='bow__star bow__star-one'></div></a>
	<a href='#'><div class='bow__star bow__star-two'></div></a>
	<a href='#'><div class='bow__star bow__star-three'></div></a>
	<a href='#'><div class='bow__star bow__star-four'></div></a>
	<a href='#'><div class='bow__star bow__star-five'></div></a>
</div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class='live'>
        	<h1 class='script'>Bow Live</h1>
        	<div class='row container'>
						
        		<div class='col-md-6'>
							<img src='/BeYourBowSingleArt.png' class='img-responsive' style='max-height:50vh;'/>
						</div>
						<div class='col-md-6'>
							<span>Album #1</span>
							<ul>
								<li>Track 1</li>
								<li>Track 2</li>
								<li>Track 3</li>
								<li>Track 4</li>
								<li>Track 5</li>
							</ul>
						</div>
					</div>
				</div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title"><h1 class='script'>Lovesound</h1></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class='video-wrapper'>
	<video id="bgvid" muted="muted" volume="0" preload="auto" autoplay="autoplay" loop="loop">
	  <source src="/LovesoundMV.mp4" type="video/webm">
	  <source src="/SLovesoundMV.mp4" type="video/ogv">
	  <source src="/LovesoundMV.mp4" type="video/mp4">
	  Sorry, your browser does not support HTML5 video.
	</video>
</div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
  </div>