<style>
	#green {
		position: absolute;
		background-color: green;
		height: 100px;
		width: 100px;
		z-index: 1;
	}
	#video {
		position: absolute;
		display: none;
		z-index: 0
	}
</style>
<div class="parallax">
<div style="margin-top:20%;margin-left:20%;">
	<div id='green'>
	</div>
	<iframe id="video" src="//www.youtube.com/embed/FKWwdQu6_ok?enablejsapi=1&html5=1" frameborder="0" allowfullscreen></iframe>

</div>
	<a id="play-button">PLAY</a>
	<a id="pause-button">PAUSE</a>

	
</div>
<script>
// https://developers.google.com/youtube/iframe_api_reference

// global variable for the player
var player;

// this function gets called when API is ready to use
function onYouTubePlayerAPIReady() {
  // create the global player from the specific iframe (#video)
  player = new YT.Player('video', {
    events: {
      // call this function when player is ready to use
      'onReady': onPlayerReady
    }
  });
}

function onPlayerReady(event) {
  
  // bind events
  var playButton = document.getElementById("play-button");
  playButton.addEventListener("click", function() {
  	document.getElementById("video").style.display = "block";
    player.playVideo();
  });
  
  var pauseButton = document.getElementById("pause-button");
  pauseButton.addEventListener("click", function() {
    player.pauseVideo();
    document.getElementById("video").style.display = "none";
  });
  
}

// Inject YouTube API script
var tag = document.createElement('script');
tag.src = "//www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

</script>