$brand-dark: #18212B;
$brand-light: #EAE8D1;
$brand-gold: #A79745;

@import 'bootstrap-sprockets';
@import 'bootstrap-datetimepicker';
@import 'bootstrap';

@media (max-width: 767px) {
  .script {
    font-size: 25vw !important;
  }
  .event-row {
    font-size: 1em !important;
  }
  .bow-title {
    max-height: 140px !important;
  }
  .header__full {
    display: none;
  }
  .type-header {
    max-width: 90% !important;
  }
  #bgvid {
    display: none;
  }
  #bgimg {
    position: absolute;
    left: -500px;
    min-height: 100vh;
    min-width: 100%;
  }
  #social {
    padding-bottom: 1800px !important;
  }
  canvas {
    top: 30% !important;
    left: 10% !important;
    width: 320px;
    height: 240px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .cmn-toggle-switch {
    display: none !important;
  }
  #bgvid {
    display: none;
  }
  #bgimg {
    position: absolute;
    left: -500px;
    min-height: 100vh;
    min-width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cmn-toggle-switch {
    display: none !important;
  }
  #bgvid { 
    position: absolute;
    opacity: 0.4;
    min-height: 100vh;
    min-width: 100%;
  }
  #bgimg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .cmn-toggle-switch {
    display: none !important;
  }
  #bgvid { 
    position: absolute;
    opacity: 0.4;
    min-height: 100vh;
    min-width: 100%;
  }
  #bgimg {
    display: none;
  }
}

html {
	position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
  background: radial-gradient(ellipse at bottom, #18212B 0%, #090a0f 100%);
  color: white;
  font-family: 'proxima-nova';
}

.container {
  width: 90%;
}

.clearfix {
  overflow: auto;
}

.content-wrapper {
  margin-top: 100px;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.script {
  font-family: 'voluta-script-pro';
  font-size: 16em;
  text-align: center;
}

.script-table-header {
  font-family: 'voluta-script-pro';
  color: $brand-gold;
  font-size: 3.5em;
}

a {
  text-decoration: none;
}

.bow-title {
  max-height: 180px;
}

.type-header {
  display: block;
  margin: 80px auto;
  max-height: 12em;
}

.type-subheader {
  display: block;
  margin: 80px auto 20px auto;
  max-height: 6em;
}

.keyboard-icon {
  display: inline-block;
  max-width: 60px;
}

#field {
  position: fixed;
  margin-left: -9000px;
}

.play--button-music {
  max-width: 60px;
  height: auto;
}

.pause--button-music {
  display: none;
  max-width: 60px;
  height: auto;
}

.play--button-video {
  max-width: 80px;
  height: auto;
}

#youtube__wrapper {
  display: none;
  position: fixed;
  top:0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.youtube__close {
  position: fixed;
  display: none;
  top: 5%;
  right: 4%;
  font-size: 1.5em;
  z-index: 200;
}

.youtube__player {
  position: relative;
  top:0;
  left: 0;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 100vh;
}

.youtube__player iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/*Social*/
.contact {
  margin: 20px;
}
.contact-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  max-width: 100%;
  font-size: 3em;
  font-family: 'kepler-std-display';
  font-style: italic;
}

.social_feed-instagram {
  max-width: 500px;
  margin: 20px auto 50px auto;
  border: 0;
  overflow: hidden;
}

.social_feed-instagram img{
  padding: 5px;
}

/*Social*/
/*Header*/
#header {
  position: fixed;
  background-color: transparent;
  top: 0;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  z-index: 9999999999;
}

.header__full {
  margin-right: -80px;
}

.menu {
  margin-right: -60px;
}

.menu li{
  margin-left: 10px;
}

.menu-img {
  max-height: 40px;
}
/*Header*/
/*Mobile Header*/
/*Nav Menu*/
.brand-mark {
  font-size: 0.3em !important;
  margin-top: -20px;
}
.site-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#body-nav {
  position: fixed;
  overflow: hidden;
  /*left: 58px;*/
  background: transparent;
  text-align: left;
  display: block;
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    transition: background 500ms ease;
  z-index: 999999999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  height: 100%;
  width: 100%;
  text-align: center;

  z-index: 999999;

  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.show-nav #body-nav {
  background: rgb(18, 28, 37);
  background: rgba(24, 33, 43, 0.9);
  z-index: 999999999999999999999;
}
.hide-nav #body-nav {
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: -99999999999999999999;
}

.show-nav .social-icons-header{
  display: block;
}

.hide-nav .social-icons-header{
  display: none;
}

#body-nav ul {
  position: absolute;
  left: 0%;
  width: 100%;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateY(-50%);
}
#body-nav ul li a {
display: block;
text-decoration: none !important;
height: 80px;
line-height: 80px;
font-size: 50px;
color: #fff;
opacity: 0;
border: none;
  -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}
.show-nav #body-nav ul li a {
  opacity: 1;
}

.toggle-nav {
  left: auto;
  right: 30px;
  position: fixed;
  z-index: 9999999999999;
}

.cmn-toggle-switch {
  display: block;
  position: fixed;
  overflow: hidden;
  right: 10px;
  margin: 0;
  padding: 0;
  width: 54px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 22.5px;
  left: 9px;
  right: 9px;
  height: 2px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  content: "";
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 22.5px;
  left: 9px;
  right: 9px;
  height: 2px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -8px;
}

.cmn-toggle-switch span::after {
  bottom: -8px;
}

.cmn-toggle-switch__htx {
  background-color: transparent;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active {
  position: fixed;
  top: 10px;
  background-color: none;
}

.cmn-toggle-switch__htx.active span {
  background: none !important;
}

.cmn-toggle-switch__htx.active span::before {
  background-color: white !important;
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  background-color: white !important;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}
/*Toggle Button*/
/*Mobile Header*/
/*Bow*/
.bow_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bow {  
  position: relative;
  display: inline-block;
}

.bow_silhouette {
  height: 105vh;
}

.bow_constellation {
  position: absolute;
  height: 105vh;
  z-index: 9999999;
}

.bow__star {
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
  opacity: 0.7;
  z-index: 99999999;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.bow__star:hover {
  opacity: 1;
  width: 20px;
  height: 20px;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.bow__star-one {
  top: 11%;
  left: 40%;
}

.bow__star-two {
  top: 25%;
  left: 58%;
}

.bow__star-three {
  top: 38%;
  left: 66%;
}

.bow__star-four {
  top: 39%;
  left: 37%;
}

.bow__star-five {
  top: 25%;
  left: 43%;
}

.albums {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

.albums-listen {
}

.albums__tracklist {
  position: relative;
  font-size: 1.2em;
}

.albums__logos img{
  top: 50%;
  bottom: 50%;
  padding: 10px;
  max-width: 30%;
  max-height: 100px;
  vertical-align: middle;
}

.albums__coverart {
  position: relative;
  max-width: 300px;
  margin-bottom: 20px;
}

.albums__coverart-inner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0,0,0, 0.7);
  width: 100%;
  height: 100%;
}

.albums__coverart-text {
  position: absolute;
  text-align: center;
  top: 32%;
  left: 22%;
}

.video-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#bgvid { 
	position: absolute;
  opacity: 0.4;
  min-height: 100vh;
  min-width: 100%;
}

.live__dates {
}

.event__form--time {
  display: inline-block;
  color: black !important;
  width: 220px;
  margin-right: 20px;
  z-index: 99999999999999;
}

.event__form--time a{
  color: grey;
}

.event__form--time label {
  color: white !important;
}

.event-input {
  margin: 10px 0px 20px 0px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  max-width: 600px;
  font-size: 2em;
  font-family: 'kepler-std-display';
  font-style: italic;
}

.new-show,
.new-show a {
  color: $brand-gold !important;
}

.event-table {
  margin: 0 auto;
  max-width: 80%;
}

.event-row {
  font-size: 1.5em;
}

.event-row a:link,
.event-row a:visited,
.event-row a:hover,
.event-row a:active, {
  color: $brand-gold;
}

.social-icons {

}

.fb-page {
  height: 100px !important;
}

.social-icons img {
  max-width: 50px;
  display: inline-block;
}

.social-icons-header img {
  max-height: 35px;
  display: inline-block;
}

.social-icons-footer img {
  max-height: 28px;
  display: inline-block;
  vertical-align: text-bottom;
}
/*Test*/
.star-wrapper {
	position: absolute;
	z-index: -9000;
}

#stars-near {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1771px 1024px #FFF, 582px 1076px #FFF, 1463px 112px #FFF, 60px 587px #FFF, 13px 623px #FFF, 1078px 75px #FFF, 929px 1185px #FFF, 423px 878px #FFF, 2508px 1158px #FFF, 722px 839px #FFF, 32px 246px #FFF, 1649px 710px #FFF, 1819px 253px #FFF, 795px 431px #FFF, 1005px 978px #FFF, 2414px 1255px #FFF, 921px 720px #FFF, 1768px 121px #FFF, 2100px 158px #FFF, 1032px 1159px #FFF, 755px 801px #FFF, 1760px 595px #FFF, 1497px 933px #FFF, 2323px 1106px #FFF, 100px 294px #FFF, 1735px 859px #FFF, 1440px 853px #FFF, 1484px 184px #FFF, 2307px 75px #FFF, 195px 864px #FFF, 625px 401px #FFF, 181px 491px #FFF, 1923px 1133px #FFF, 1424px 1100px #FFF, 876px 1068px #FFF, 1956px 1299px #FFF, 1472px 413px #FFF, 2320px 239px #FFF, 2535px 1100px #FFF, 1191px 926px #FFF, 703px 839px #FFF, 189px 206px #FFF, 2100px 584px #FFF, 1991px 1195px #FFF, 1849px 951px #FFF, 1413px 8px #FFF, 433px 263px #FFF, 466px 689px #FFF, 361px 322px #FFF, 1674px 1440px #FFF, 1464px 639px #FFF, 1180px 391px #FFF, 2511px 544px #FFF, 1445px 370px #FFF, 1483px 1px #FFF, 563px 1004px #FFF, 484px 925px #FFF, 2375px 499px #FFF, 1280px 894px #FFF, 1474px 1313px #FFF, 994px 1067px #FFF, 554px 445px #FFF, 2537px 284px #FFF, 179px 400px #FFF, 86px 106px #FFF, 2458px 373px #FFF, 600px 1086px #FFF, 324px 790px #FFF, 1254px 1201px #FFF, 2464px 1324px #FFF, 460px 1225px #FFF, 1031px 1431px #FFF, 2253px 1302px #FFF, 299px 566px #FFF, 2394px 686px #FFF, 2111px 398px #FFF, 1746px 1346px #FFF, 939px 182px #FFF, 1247px 234px #FFF, 700px 1396px #FFF, 1603px 752px #FFF, 1441px 928px #FFF, 1885px 743px #FFF, 453px 1158px #FFF, 857px 87px #FFF, 397px 673px #FFF, 2487px 537px #FFF, 84px 440px #FFF, 1827px 386px #FFF, 1127px 1130px #FFF, 819px 1020px #FFF, 1195px 1168px #FFF, 744px 1321px #FFF, 1720px 319px #FFF, 766px 550px #FFF, 2300px 20px #FFF, 1078px 329px #FFF, 2155px 756px #FFF, 2366px 14px #FFF, 525px 1184px #FFF, 1894px 1045px #FFF, 334px 1079px #FFF, 1177px 885px #FFF, 2188px 1382px #FFF, 1463px 158px #FFF, 2350px 754px #FFF, 939px 522px #FFF, 1955px 815px #FFF, 461px 1246px #FFF, 155px 381px #FFF, 1509px 1333px #FFF, 1813px 26px #FFF, 2120px 909px #FFF, 2114px 99px #FFF, 1650px 787px #FFF, 703px 1195px #FFF, 2537px 715px #FFF, 868px 165px #FFF, 697px 546px #FFF, 492px 651px #FFF, 728px 996px #FFF, 1211px 331px #FFF, 2094px 528px #FFF, 673px 901px #FFF, 192px 347px #FFF, 1927px 9px #FFF, 1854px 162px #FFF, 74px 877px #FFF, 1213px 327px #FFF, 955px 1187px #FFF, 936px 49px #FFF, 1097px 945px #FFF, 2487px 1053px #FFF, 1082px 970px #FFF, 809px 88px #FFF, 368px 191px #FFF, 1806px 816px #FFF, 1634px 684px #FFF, 1096px 115px #FFF, 1963px 691px #FFF, 744px 19px #FFF, 1362px 759px #FFF, 326px 50px #FFF, 837px 488px #FFF, 1563px 1352px #FFF, 309px 1267px #FFF, 1665px 158px #FFF, 1324px 81px #FFF, 2155px 290px #FFF, 1470px 539px #FFF, 1058px 491px #FFF, 882px 1055px #FFF, 631px 765px #FFF, 2453px 142px #FFF, 2517px 1126px #FFF, 1762px 859px #FFF, 2517px 1000px #FFF, 2488px 1361px #FFF, 25px 54px #FFF, 419px 644px #FFF, 1060px 1255px #FFF, 1152px 667px #FFF, 168px 73px #FFF, 779px 273px #FFF, 2277px 70px #FFF, 1505px 483px #FFF, 1715px 214px #FFF, 2250px 1073px #FFF, 626px 293px #FFF, 208px 514px #FFF, 657px 952px #FFF, 403px 533px #FFF, 970px 367px #FFF, 836px 415px #FFF, 1677px 152px #FFF, 263px 1294px #FFF, 499px 427px #FFF, 1876px 508px #FFF, 2507px 634px #FFF, 1355px 1000px #FFF, 948px 651px #FFF, 1616px 289px #FFF, 1091px 505px #FFF, 1041px 1180px #FFF, 2083px 614px #FFF, 976px 65px #FFF, 1482px 4px #FFF, 1247px 186px #FFF, 1853px 1142px #FFF, 2430px 159px #FFF, 293px 856px #FFF, 644px 564px #FFF, 2410px 1041px #FFF, 2136px 742px #FFF, 1080px 33px #FFF, 2394px 648px #FFF, 2249px 1265px #FFF, 749px 1308px #FFF, 2301px 774px #FFF, 75px 884px #FFF, 1376px 1307px #FFF, 706px 1141px #FFF, 2104px 1261px #FFF, 1700px 869px #FFF, 1572px 834px #FFF, 420px 1296px #FFF, 2442px 454px #FFF, 1835px 1235px #FFF, 401px 1362px #FFF, 1879px 911px #FFF, 716px 1411px #FFF, 1721px 937px #FFF, 412px 1130px #FFF, 1432px 948px #FFF, 81px 1084px #FFF, 822px 93px #FFF, 2196px 238px #FFF, 2467px 845px #FFF, 2169px 798px #FFF, 35px 639px #FFF, 1979px 1148px #FFF, 1521px 1147px #FFF, 1522px 1326px #FFF, 964px 106px #FFF, 1819px 427px #FFF, 2312px 858px #FFF, 181px 596px #FFF, 2531px 494px #FFF, 2211px 1228px #FFF, 1555px 854px #FFF, 1460px 1156px #FFF, 699px 848px #FFF, 332px 613px #FFF, 2117px 1042px #FFF, 1210px 574px #FFF, 2538px 804px #FFF, 2505px 595px #FFF, 590px 1380px #FFF, 1686px 82px #FFF, 1663px 382px #FFF, 1680px 1298px #FFF, 447px 680px #FFF, 710px 689px #FFF, 1234px 1403px #FFF, 1802px 305px #FFF, 1001px 587px #FFF, 1542px 62px #FFF, 400px 1243px #FFF, 1791px 798px #FFF, 2472px 753px #FFF, 1860px 942px #FFF, 1875px 143px #FFF, 2373px 885px #FFF, 930px 538px #FFF, 30px 815px #FFF, 1504px 143px #FFF, 1489px 332px #FFF, 1831px 1207px #FFF, 1586px 1424px #FFF, 2202px 547px #FFF, 174px 654px #FFF, 2396px 1272px #FFF, 2086px 1343px #FFF, 1878px 14px #FFF, 1238px 14px #FFF, 618px 1390px #FFF, 210px 1236px #FFF, 1825px 1120px #FFF, 50px 844px #FFF, 1826px 383px #FFF, 461px 1049px #FFF, 1042px 726px #FFF, 2042px 518px #FFF, 2557px 619px #FFF, 2448px 1439px #FFF, 1471px 1004px #FFF, 333px 1309px #FFF, 206px 413px #FFF, 2193px 841px #FFF, 669px 1330px #FFF, 2316px 989px #FFF, 1516px 541px #FFF, 1827px 822px #FFF, 1634px 970px #FFF, 686px 436px #FFF, 112px 627px #FFF, 2026px 1339px #FFF, 194px 882px #FFF, 1869px 503px #FFF, 1646px 648px #FFF, 2518px 1384px #FFF, 1702px 405px #FFF, 2188px 939px #FFF, 1060px 708px #FFF, 565px 257px #FFF, 2189px 130px #FFF, 774px 1063px #FFF, 2431px 1025px #FFF, 881px 918px #FFF, 560px 756px #FFF, 1069px 176px #FFF, 1811px 822px #FFF, 1940px 914px #FFF, 1752px 402px #FFF, 333px 185px #FFF, 1245px 997px #FFF, 435px 19px #FFF, 2407px 1237px #FFF, 524px 622px #FFF, 1324px 949px #FFF, 1397px 256px #FFF, 209px 131px #FFF, 2193px 339px #FFF, 527px 623px #FFF, 918px 560px #FFF, 650px 1138px #FFF, 392px 33px #FFF, 973px 551px #FFF, 1031px 162px #FFF, 575px 457px #FFF, 502px 776px #FFF, 251px 1197px #FFF, 2235px 1317px #FFF, 149px 126px #FFF, 1375px 870px #FFF, 2089px 976px #FFF, 296px 1092px #FFF, 1746px 888px #FFF, 143px 1084px #FFF, 1079px 260px #FFF, 761px 274px #FFF, 2055px 801px #FFF, 1429px 616px #FFF, 2182px 618px #FFF, 2533px 309px #FFF, 905px 1237px #FFF, 1052px 52px #FFF, 1029px 1106px #FFF, 2244px 256px #FFF, 762px 702px #FFF, 2523px 134px #FFF, 486px 1336px #FFF, 591px 1215px #FFF, 152px 842px #FFF, 2328px 1199px #FFF, 1464px 865px #FFF, 22px 478px #FFF, 2074px 758px #FFF, 736px 18px #FFF, 1846px 626px #FFF, 1743px 18px #FFF, 1277px 244px #FFF, 1622px 116px #FFF, 980px 216px #FFF, 1045px 577px #FFF, 44px 960px #FFF, 1786px 1402px #FFF, 304px 41px #FFF, 1259px 659px #FFF, 1821px 1016px #FFF, 1609px 1220px #FFF, 2446px 1109px #FFF, 1990px 863px #FFF, 266px 421px #FFF, 1168px 302px #FFF, 2054px 451px #FFF, 1583px 370px #FFF, 676px 641px #FFF, 86px 402px #FFF, 2488px 372px #FFF, 1425px 827px #FFF, 2437px 1125px #FFF, 1665px 208px #FFF, 2180px 491px #FFF, 1283px 1027px #FFF, 1410px 348px #FFF, 1539px 315px #FFF, 231px 1209px #FFF, 954px 612px #FFF, 226px 211px #FFF, 2543px 1384px #FFF, 2158px 1327px #FFF, 1967px 1316px #FFF, 306px 475px #FFF, 2320px 696px #FFF, 2104px 1128px #FFF, 342px 400px #FFF, 1524px 697px #FFF, 241px 329px #FFF, 2105px 869px #FFF, 262px 781px #FFF, 215px 1439px #FFF, 350px 92px #FFF, 1985px 1410px #FFF, 972px 264px #FFF, 667px 622px #FFF, 76px 1365px #FFF, 1942px 435px #FFF, 1973px 1165px #FFF, 1199px 1412px #FFF, 1512px 675px #FFF, 701px 1174px #FFF, 856px 1185px #FFF, 1035px 1383px #FFF, 1585px 850px #FFF, 2521px 140px #FFF, 1303px 125px #FFF, 2391px 640px #FFF, 2028px 649px #FFF, 2309px 1220px #FFF, 1139px 1034px #FFF, 215px 712px #FFF, 981px 1326px #FFF, 1200px 845px #FFF, 2520px 1161px #FFF, 2304px 1430px #FFF, 1951px 603px #FFF, 1324px 1066px #FFF, 2224px 76px #FFF, 2058px 1289px #FFF, 819px 1136px #FFF, 667px 640px #FFF, 1073px 1391px #FFF, 852px 1218px #FFF, 382px 621px #FFF, 1688px 388px #FFF, 961px 724px #FFF, 1738px 1368px #FFF, 1559px 281px #FFF, 472px 779px #FFF, 999px 1258px #FFF, 347px 905px #FFF, 1128px 1230px #FFF, 1970px 1066px #FFF, 177px 1147px #FFF, 700px 1141px #FFF, 1595px 1005px #FFF, 1052px 836px #FFF, 679px 53px #FFF, 1546px 100px #FFF, 1260px 1091px #FFF, 414px 53px #FFF, 1046px 275px #FFF, 2168px 395px #FFF, 922px 486px #FFF, 133px 792px #FFF, 456px 745px #FFF, 1368px 75px #FFF, 1772px 649px #FFF, 56px 597px #FFF, 292px 1125px #FFF, 799px 922px #FFF, 2492px 452px #FFF, 1867px 877px #FFF, 1816px 79px #FFF, 1319px 1372px #FFF, 1627px 21px #FFF, 2536px 508px #FFF, 2504px 1344px #FFF, 1736px 1107px #FFF, 1280px 218px #FFF, 852px 775px #FFF, 948px 385px #FFF, 886px 630px #FFF, 1638px 549px #FFF, 2059px 72px #FFF, 2318px 413px #FFF, 1067px 1223px #FFF, 1644px 938px #FFF, 2039px 803px #FFF, 1510px 338px #FFF, 2234px 1265px #FFF, 1795px 975px #FFF, 1971px 1375px #FFF, 1538px 792px #FFF, 1676px 1041px #FFF, 1666px 1425px #FFF, 972px 1054px #FFF, 1759px 1296px #FFF, 248px 971px #FFF, 775px 463px #FFF, 246px 66px #FFF, 918px 1223px #FFF, 1882px 344px #FFF, 527px 826px #FFF, 870px 252px #FFF, 865px 1110px #FFF, 2297px 1031px #FFF, 490px 173px #FFF, 191px 1157px #FFF, 607px 507px #FFF, 645px 618px #FFF, 2112px 631px #FFF, 1886px 945px #FFF, 684px 1365px #FFF, 1638px 962px #FFF, 1501px 865px #FFF, 176px 77px #FFF, 1540px 192px #FFF, 1196px 587px #FFF, 1702px 1280px #FFF, 1434px 1202px #FFF, 255px 193px #FFF, 951px 1120px #FFF, 71px 875px #FFF, 1502px 706px #FFF, 1714px 1000px #FFF, 1133px 998px #FFF, 2327px 418px #FFF, 506px 191px #FFF, 1999px 1100px #FFF, 158px 383px #FFF, 1082px 47px #FFF, 945px 56px #FFF, 1821px 961px #FFF, 69px 1283px #FFF, 2003px 530px #FFF, 1657px 297px #FFF, 2464px 239px #FFF, 1918px 875px #FFF, 771px 503px #FFF, 42px 917px #FFF, 2493px 1307px #FFF, 52px 80px #FFF, 2025px 1174px #FFF, 2032px 610px #FFF, 2387px 587px #FFF, 1626px 595px #FFF, 901px 563px #FFF, 1228px 1414px #FFF, 584px 604px #FFF, 1890px 408px #FFF, 1611px 534px #FFF, 2417px 779px #FFF, 120px 360px #FFF, 1884px 700px #FFF, 779px 828px #FFF, 157px 1304px #FFF, 2442px 846px #FFF, 1097px 193px #FFF, 417px 1125px #FFF, 2268px 282px #FFF, 627px 129px #FFF, 1208px 679px #FFF, 1178px 251px #FFF, 910px 1215px #FFF, 1358px 1093px #FFF, 2531px 1402px #FFF, 1592px 1031px #FFF, 194px 449px #FFF, 2523px 419px #FFF, 565px 447px #FFF, 343px 1183px #FFF, 1128px 138px #FFF, 2298px 241px #FFF, 2115px 48px #FFF, 2511px 842px #FFF, 504px 199px #FFF, 2296px 1182px #FFF, 1706px 1367px #FFF, 1615px 1010px #FFF, 1991px 1439px #FFF, 2429px 191px #FFF, 1717px 599px #FFF, 2106px 592px #FFF, 399px 763px #FFF, 87px 981px #FFF, 2558px 602px #FFF, 1508px 611px #FFF, 454px 237px #FFF, 2198px 91px #FFF, 1652px 588px #FFF, 605px 1073px #FFF, 2362px 527px #FFF, 727px 1100px #FFF, 1844px 1325px #FFF, 2221px 1008px #FFF, 1737px 398px #FFF, 722px 739px #FFF, 1026px 1141px #FFF, 1691px 1371px #FFF, 640px 321px #FFF, 1935px 434px #FFF, 2088px 1107px #FFF, 2048px 169px #FFF, 564px 841px #FFF, 1154px 1006px #FFF, 1874px 997px #FFF, 7px 646px #FFF, 2294px 248px #FFF, 2039px 404px #FFF, 968px 719px #FFF, 2198px 390px #FFF, 575px 1037px #FFF, 233px 1200px #FFF, 2522px 164px #FFF, 2478px 739px #FFF, 151px 820px #FFF, 2104px 1140px #FFF, 169px 69px #FFF, 1056px 1179px #FFF, 2171px 729px #FFF, 2558px 1154px #FFF, 705px 1424px #FFF, 912px 148px #FFF, 1056px 369px #FFF, 912px 1283px #FFF, 1876px 755px #FFF, 2444px 531px #FFF, 1155px 251px #FFF, 651px 1187px #FFF, 360px 428px #FFF, 2484px 241px #FFF, 2206px 816px #FFF, 970px 895px #FFF, 2511px 840px #FFF, 1534px 832px #FFF, 2362px 1272px #FFF, 2459px 1171px #FFF, 217px 106px #FFF, 1753px 517px #FFF, 1174px 859px #FFF, 448px 614px #FFF, 2094px 321px #FFF, 852px 1204px #FFF, 2538px 118px #FFF, 1459px 1316px #FFF, 267px 36px #FFF, 345px 512px #FFF, 192px 1170px #FFF, 859px 905px #FFF, 2099px 362px #FFF, 1697px 285px #FFF, 1866px 958px #FFF, 1616px 175px #FFF, 424px 1278px #FFF, 1226px 406px #FFF, 1070px 252px #FFF, 1460px 1078px #FFF, 2268px 374px #FFF, 1700px 1123px #FFF, 1711px 858px #FFF, 2285px 686px #FFF, 729px 155px #FFF, 2290px 768px #FFF, 276px 215px #FFF, 194px 965px #FFF, 1931px 664px #FFF, 611px 77px #FFF, 1118px 455px #FFF, 93px 1034px #FFF, 2421px 1172px #FFF, 1277px 1030px #FFF, 1674px 757px #FFF, 851px 579px #FFF, 69px 1196px #FFF, 1176px 547px #FFF, 1422px 589px #FFF, 2299px 832px #FFF, 846px 771px #FFF, 684px 786px #FFF, 1734px 700px #FFF, 782px 166px #FFF, 2057px 928px #FFF, 2233px 1109px #FFF, 1664px 1403px #FFF, 2207px 694px #FFF, 1016px 876px #FFF, 1388px 602px #FFF, 2299px 567px #FFF, 1196px 880px #FFF, 886px 143px #FFF, 1122px 785px #FFF, 1999px 925px #FFF, 1259px 752px #FFF, 2491px 179px #FFF, 969px 724px #FFF, 1272px 380px #FFF, 1716px 168px #FFF, 1948px 1081px #FFF, 647px 194px #FFF, 1511px 421px #FFF, 1345px 712px #FFF, 177px 1061px #FFF, 1024px 1050px #FFF, 645px 540px #FFF, 746px 224px #FFF, 1696px 281px #FFF, 1347px 1341px #FFF, 1759px 91px #FFF, 1069px 384px #FFF, 1126px 943px #FFF, 985px 982px #FFF, 1565px 1008px #FFF, 887px 933px #FFF, 1847px 425px #FFF, 912px 429px #FFF, 249px 1272px #FFF, 163px 699px #FFF;
  -webkit-animation: animStar 150s linear infinite;
  -moz-animation: animStar 150s linear infinite;
  -o-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}
#stars-near:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1771px 1024px #FFF, 582px 1076px #FFF, 1463px 112px #FFF, 60px 587px #FFF, 13px 623px #FFF, 1078px 75px #FFF, 929px 1185px #FFF, 423px 878px #FFF, 2508px 1158px #FFF, 722px 839px #FFF, 32px 246px #FFF, 1649px 710px #FFF, 1819px 253px #FFF, 795px 431px #FFF, 1005px 978px #FFF, 2414px 1255px #FFF, 921px 720px #FFF, 1768px 121px #FFF, 2100px 158px #FFF, 1032px 1159px #FFF, 755px 801px #FFF, 1760px 595px #FFF, 1497px 933px #FFF, 2323px 1106px #FFF, 100px 294px #FFF, 1735px 859px #FFF, 1440px 853px #FFF, 1484px 184px #FFF, 2307px 75px #FFF, 195px 864px #FFF, 625px 401px #FFF, 181px 491px #FFF, 1923px 1133px #FFF, 1424px 1100px #FFF, 876px 1068px #FFF, 1956px 1299px #FFF, 1472px 413px #FFF, 2320px 239px #FFF, 2535px 1100px #FFF, 1191px 926px #FFF, 703px 839px #FFF, 189px 206px #FFF, 2100px 584px #FFF, 1991px 1195px #FFF, 1849px 951px #FFF, 1413px 8px #FFF, 433px 263px #FFF, 466px 689px #FFF, 361px 322px #FFF, 1674px 1440px #FFF, 1464px 639px #FFF, 1180px 391px #FFF, 2511px 544px #FFF, 1445px 370px #FFF, 1483px 1px #FFF, 563px 1004px #FFF, 484px 925px #FFF, 2375px 499px #FFF, 1280px 894px #FFF, 1474px 1313px #FFF, 994px 1067px #FFF, 554px 445px #FFF, 2537px 284px #FFF, 179px 400px #FFF, 86px 106px #FFF, 2458px 373px #FFF, 600px 1086px #FFF, 324px 790px #FFF, 1254px 1201px #FFF, 2464px 1324px #FFF, 460px 1225px #FFF, 1031px 1431px #FFF, 2253px 1302px #FFF, 299px 566px #FFF, 2394px 686px #FFF, 2111px 398px #FFF, 1746px 1346px #FFF, 939px 182px #FFF, 1247px 234px #FFF, 700px 1396px #FFF, 1603px 752px #FFF, 1441px 928px #FFF, 1885px 743px #FFF, 453px 1158px #FFF, 857px 87px #FFF, 397px 673px #FFF, 2487px 537px #FFF, 84px 440px #FFF, 1827px 386px #FFF, 1127px 1130px #FFF, 819px 1020px #FFF, 1195px 1168px #FFF, 744px 1321px #FFF, 1720px 319px #FFF, 766px 550px #FFF, 2300px 20px #FFF, 1078px 329px #FFF, 2155px 756px #FFF, 2366px 14px #FFF, 525px 1184px #FFF, 1894px 1045px #FFF, 334px 1079px #FFF, 1177px 885px #FFF, 2188px 1382px #FFF, 1463px 158px #FFF, 2350px 754px #FFF, 939px 522px #FFF, 1955px 815px #FFF, 461px 1246px #FFF, 155px 381px #FFF, 1509px 1333px #FFF, 1813px 26px #FFF, 2120px 909px #FFF, 2114px 99px #FFF, 1650px 787px #FFF, 703px 1195px #FFF, 2537px 715px #FFF, 868px 165px #FFF, 697px 546px #FFF, 492px 651px #FFF, 728px 996px #FFF, 1211px 331px #FFF, 2094px 528px #FFF, 673px 901px #FFF, 192px 347px #FFF, 1927px 9px #FFF, 1854px 162px #FFF, 74px 877px #FFF, 1213px 327px #FFF, 955px 1187px #FFF, 936px 49px #FFF, 1097px 945px #FFF, 2487px 1053px #FFF, 1082px 970px #FFF, 809px 88px #FFF, 368px 191px #FFF, 1806px 816px #FFF, 1634px 684px #FFF, 1096px 115px #FFF, 1963px 691px #FFF, 744px 19px #FFF, 1362px 759px #FFF, 326px 50px #FFF, 837px 488px #FFF, 1563px 1352px #FFF, 309px 1267px #FFF, 1665px 158px #FFF, 1324px 81px #FFF, 2155px 290px #FFF, 1470px 539px #FFF, 1058px 491px #FFF, 882px 1055px #FFF, 631px 765px #FFF, 2453px 142px #FFF, 2517px 1126px #FFF, 1762px 859px #FFF, 2517px 1000px #FFF, 2488px 1361px #FFF, 25px 54px #FFF, 419px 644px #FFF, 1060px 1255px #FFF, 1152px 667px #FFF, 168px 73px #FFF, 779px 273px #FFF, 2277px 70px #FFF, 1505px 483px #FFF, 1715px 214px #FFF, 2250px 1073px #FFF, 626px 293px #FFF, 208px 514px #FFF, 657px 952px #FFF, 403px 533px #FFF, 970px 367px #FFF, 836px 415px #FFF, 1677px 152px #FFF, 263px 1294px #FFF, 499px 427px #FFF, 1876px 508px #FFF, 2507px 634px #FFF, 1355px 1000px #FFF, 948px 651px #FFF, 1616px 289px #FFF, 1091px 505px #FFF, 1041px 1180px #FFF, 2083px 614px #FFF, 976px 65px #FFF, 1482px 4px #FFF, 1247px 186px #FFF, 1853px 1142px #FFF, 2430px 159px #FFF, 293px 856px #FFF, 644px 564px #FFF, 2410px 1041px #FFF, 2136px 742px #FFF, 1080px 33px #FFF, 2394px 648px #FFF, 2249px 1265px #FFF, 749px 1308px #FFF, 2301px 774px #FFF, 75px 884px #FFF, 1376px 1307px #FFF, 706px 1141px #FFF, 2104px 1261px #FFF, 1700px 869px #FFF, 1572px 834px #FFF, 420px 1296px #FFF, 2442px 454px #FFF, 1835px 1235px #FFF, 401px 1362px #FFF, 1879px 911px #FFF, 716px 1411px #FFF, 1721px 937px #FFF, 412px 1130px #FFF, 1432px 948px #FFF, 81px 1084px #FFF, 822px 93px #FFF, 2196px 238px #FFF, 2467px 845px #FFF, 2169px 798px #FFF, 35px 639px #FFF, 1979px 1148px #FFF, 1521px 1147px #FFF, 1522px 1326px #FFF, 964px 106px #FFF, 1819px 427px #FFF, 2312px 858px #FFF, 181px 596px #FFF, 2531px 494px #FFF, 2211px 1228px #FFF, 1555px 854px #FFF, 1460px 1156px #FFF, 699px 848px #FFF, 332px 613px #FFF, 2117px 1042px #FFF, 1210px 574px #FFF, 2538px 804px #FFF, 2505px 595px #FFF, 590px 1380px #FFF, 1686px 82px #FFF, 1663px 382px #FFF, 1680px 1298px #FFF, 447px 680px #FFF, 710px 689px #FFF, 1234px 1403px #FFF, 1802px 305px #FFF, 1001px 587px #FFF, 1542px 62px #FFF, 400px 1243px #FFF, 1791px 798px #FFF, 2472px 753px #FFF, 1860px 942px #FFF, 1875px 143px #FFF, 2373px 885px #FFF, 930px 538px #FFF, 30px 815px #FFF, 1504px 143px #FFF, 1489px 332px #FFF, 1831px 1207px #FFF, 1586px 1424px #FFF, 2202px 547px #FFF, 174px 654px #FFF, 2396px 1272px #FFF, 2086px 1343px #FFF, 1878px 14px #FFF, 1238px 14px #FFF, 618px 1390px #FFF, 210px 1236px #FFF, 1825px 1120px #FFF, 50px 844px #FFF, 1826px 383px #FFF, 461px 1049px #FFF, 1042px 726px #FFF, 2042px 518px #FFF, 2557px 619px #FFF, 2448px 1439px #FFF, 1471px 1004px #FFF, 333px 1309px #FFF, 206px 413px #FFF, 2193px 841px #FFF, 669px 1330px #FFF, 2316px 989px #FFF, 1516px 541px #FFF, 1827px 822px #FFF, 1634px 970px #FFF, 686px 436px #FFF, 112px 627px #FFF, 2026px 1339px #FFF, 194px 882px #FFF, 1869px 503px #FFF, 1646px 648px #FFF, 2518px 1384px #FFF, 1702px 405px #FFF, 2188px 939px #FFF, 1060px 708px #FFF, 565px 257px #FFF, 2189px 130px #FFF, 774px 1063px #FFF, 2431px 1025px #FFF, 881px 918px #FFF, 560px 756px #FFF, 1069px 176px #FFF, 1811px 822px #FFF, 1940px 914px #FFF, 1752px 402px #FFF, 333px 185px #FFF, 1245px 997px #FFF, 435px 19px #FFF, 2407px 1237px #FFF, 524px 622px #FFF, 1324px 949px #FFF, 1397px 256px #FFF, 209px 131px #FFF, 2193px 339px #FFF, 527px 623px #FFF, 918px 560px #FFF, 650px 1138px #FFF, 392px 33px #FFF, 973px 551px #FFF, 1031px 162px #FFF, 575px 457px #FFF, 502px 776px #FFF, 251px 1197px #FFF, 2235px 1317px #FFF, 149px 126px #FFF, 1375px 870px #FFF, 2089px 976px #FFF, 296px 1092px #FFF, 1746px 888px #FFF, 143px 1084px #FFF, 1079px 260px #FFF, 761px 274px #FFF, 2055px 801px #FFF, 1429px 616px #FFF, 2182px 618px #FFF, 2533px 309px #FFF, 905px 1237px #FFF, 1052px 52px #FFF, 1029px 1106px #FFF, 2244px 256px #FFF, 762px 702px #FFF, 2523px 134px #FFF, 486px 1336px #FFF, 591px 1215px #FFF, 152px 842px #FFF, 2328px 1199px #FFF, 1464px 865px #FFF, 22px 478px #FFF, 2074px 758px #FFF, 736px 18px #FFF, 1846px 626px #FFF, 1743px 18px #FFF, 1277px 244px #FFF, 1622px 116px #FFF, 980px 216px #FFF, 1045px 577px #FFF, 44px 960px #FFF, 1786px 1402px #FFF, 304px 41px #FFF, 1259px 659px #FFF, 1821px 1016px #FFF, 1609px 1220px #FFF, 2446px 1109px #FFF, 1990px 863px #FFF, 266px 421px #FFF, 1168px 302px #FFF, 2054px 451px #FFF, 1583px 370px #FFF, 676px 641px #FFF, 86px 402px #FFF, 2488px 372px #FFF, 1425px 827px #FFF, 2437px 1125px #FFF, 1665px 208px #FFF, 2180px 491px #FFF, 1283px 1027px #FFF, 1410px 348px #FFF, 1539px 315px #FFF, 231px 1209px #FFF, 954px 612px #FFF, 226px 211px #FFF, 2543px 1384px #FFF, 2158px 1327px #FFF, 1967px 1316px #FFF, 306px 475px #FFF, 2320px 696px #FFF, 2104px 1128px #FFF, 342px 400px #FFF, 1524px 697px #FFF, 241px 329px #FFF, 2105px 869px #FFF, 262px 781px #FFF, 215px 1439px #FFF, 350px 92px #FFF, 1985px 1410px #FFF, 972px 264px #FFF, 667px 622px #FFF, 76px 1365px #FFF, 1942px 435px #FFF, 1973px 1165px #FFF, 1199px 1412px #FFF, 1512px 675px #FFF, 701px 1174px #FFF, 856px 1185px #FFF, 1035px 1383px #FFF, 1585px 850px #FFF, 2521px 140px #FFF, 1303px 125px #FFF, 2391px 640px #FFF, 2028px 649px #FFF, 2309px 1220px #FFF, 1139px 1034px #FFF, 215px 712px #FFF, 981px 1326px #FFF, 1200px 845px #FFF, 2520px 1161px #FFF, 2304px 1430px #FFF, 1951px 603px #FFF, 1324px 1066px #FFF, 2224px 76px #FFF, 2058px 1289px #FFF, 819px 1136px #FFF, 667px 640px #FFF, 1073px 1391px #FFF, 852px 1218px #FFF, 382px 621px #FFF, 1688px 388px #FFF, 961px 724px #FFF, 1738px 1368px #FFF, 1559px 281px #FFF, 472px 779px #FFF, 999px 1258px #FFF, 347px 905px #FFF, 1128px 1230px #FFF, 1970px 1066px #FFF, 177px 1147px #FFF, 700px 1141px #FFF, 1595px 1005px #FFF, 1052px 836px #FFF, 679px 53px #FFF, 1546px 100px #FFF, 1260px 1091px #FFF, 414px 53px #FFF, 1046px 275px #FFF, 2168px 395px #FFF, 922px 486px #FFF, 133px 792px #FFF, 456px 745px #FFF, 1368px 75px #FFF, 1772px 649px #FFF, 56px 597px #FFF, 292px 1125px #FFF, 799px 922px #FFF, 2492px 452px #FFF, 1867px 877px #FFF, 1816px 79px #FFF, 1319px 1372px #FFF, 1627px 21px #FFF, 2536px 508px #FFF, 2504px 1344px #FFF, 1736px 1107px #FFF, 1280px 218px #FFF, 852px 775px #FFF, 948px 385px #FFF, 886px 630px #FFF, 1638px 549px #FFF, 2059px 72px #FFF, 2318px 413px #FFF, 1067px 1223px #FFF, 1644px 938px #FFF, 2039px 803px #FFF, 1510px 338px #FFF, 2234px 1265px #FFF, 1795px 975px #FFF, 1971px 1375px #FFF, 1538px 792px #FFF, 1676px 1041px #FFF, 1666px 1425px #FFF, 972px 1054px #FFF, 1759px 1296px #FFF, 248px 971px #FFF, 775px 463px #FFF, 246px 66px #FFF, 918px 1223px #FFF, 1882px 344px #FFF, 527px 826px #FFF, 870px 252px #FFF, 865px 1110px #FFF, 2297px 1031px #FFF, 490px 173px #FFF, 191px 1157px #FFF, 607px 507px #FFF, 645px 618px #FFF, 2112px 631px #FFF, 1886px 945px #FFF, 684px 1365px #FFF, 1638px 962px #FFF, 1501px 865px #FFF, 176px 77px #FFF, 1540px 192px #FFF, 1196px 587px #FFF, 1702px 1280px #FFF, 1434px 1202px #FFF, 255px 193px #FFF, 951px 1120px #FFF, 71px 875px #FFF, 1502px 706px #FFF, 1714px 1000px #FFF, 1133px 998px #FFF, 2327px 418px #FFF, 506px 191px #FFF, 1999px 1100px #FFF, 158px 383px #FFF, 1082px 47px #FFF, 945px 56px #FFF, 1821px 961px #FFF, 69px 1283px #FFF, 2003px 530px #FFF, 1657px 297px #FFF, 2464px 239px #FFF, 1918px 875px #FFF, 771px 503px #FFF, 42px 917px #FFF, 2493px 1307px #FFF, 52px 80px #FFF, 2025px 1174px #FFF, 2032px 610px #FFF, 2387px 587px #FFF, 1626px 595px #FFF, 901px 563px #FFF, 1228px 1414px #FFF, 584px 604px #FFF, 1890px 408px #FFF, 1611px 534px #FFF, 2417px 779px #FFF, 120px 360px #FFF, 1884px 700px #FFF, 779px 828px #FFF, 157px 1304px #FFF, 2442px 846px #FFF, 1097px 193px #FFF, 417px 1125px #FFF, 2268px 282px #FFF, 627px 129px #FFF, 1208px 679px #FFF, 1178px 251px #FFF, 910px 1215px #FFF, 1358px 1093px #FFF, 2531px 1402px #FFF, 1592px 1031px #FFF, 194px 449px #FFF, 2523px 419px #FFF, 565px 447px #FFF, 343px 1183px #FFF, 1128px 138px #FFF, 2298px 241px #FFF, 2115px 48px #FFF, 2511px 842px #FFF, 504px 199px #FFF, 2296px 1182px #FFF, 1706px 1367px #FFF, 1615px 1010px #FFF, 1991px 1439px #FFF, 2429px 191px #FFF, 1717px 599px #FFF, 2106px 592px #FFF, 399px 763px #FFF, 87px 981px #FFF, 2558px 602px #FFF, 1508px 611px #FFF, 454px 237px #FFF, 2198px 91px #FFF, 1652px 588px #FFF, 605px 1073px #FFF, 2362px 527px #FFF, 727px 1100px #FFF, 1844px 1325px #FFF, 2221px 1008px #FFF, 1737px 398px #FFF, 722px 739px #FFF, 1026px 1141px #FFF, 1691px 1371px #FFF, 640px 321px #FFF, 1935px 434px #FFF, 2088px 1107px #FFF, 2048px 169px #FFF, 564px 841px #FFF, 1154px 1006px #FFF, 1874px 997px #FFF, 7px 646px #FFF, 2294px 248px #FFF, 2039px 404px #FFF, 968px 719px #FFF, 2198px 390px #FFF, 575px 1037px #FFF, 233px 1200px #FFF, 2522px 164px #FFF, 2478px 739px #FFF, 151px 820px #FFF, 2104px 1140px #FFF, 169px 69px #FFF, 1056px 1179px #FFF, 2171px 729px #FFF, 2558px 1154px #FFF, 705px 1424px #FFF, 912px 148px #FFF, 1056px 369px #FFF, 912px 1283px #FFF, 1876px 755px #FFF, 2444px 531px #FFF, 1155px 251px #FFF, 651px 1187px #FFF, 360px 428px #FFF, 2484px 241px #FFF, 2206px 816px #FFF, 970px 895px #FFF, 2511px 840px #FFF, 1534px 832px #FFF, 2362px 1272px #FFF, 2459px 1171px #FFF, 217px 106px #FFF, 1753px 517px #FFF, 1174px 859px #FFF, 448px 614px #FFF, 2094px 321px #FFF, 852px 1204px #FFF, 2538px 118px #FFF, 1459px 1316px #FFF, 267px 36px #FFF, 345px 512px #FFF, 192px 1170px #FFF, 859px 905px #FFF, 2099px 362px #FFF, 1697px 285px #FFF, 1866px 958px #FFF, 1616px 175px #FFF, 424px 1278px #FFF, 1226px 406px #FFF, 1070px 252px #FFF, 1460px 1078px #FFF, 2268px 374px #FFF, 1700px 1123px #FFF, 1711px 858px #FFF, 2285px 686px #FFF, 729px 155px #FFF, 2290px 768px #FFF, 276px 215px #FFF, 194px 965px #FFF, 1931px 664px #FFF, 611px 77px #FFF, 1118px 455px #FFF, 93px 1034px #FFF, 2421px 1172px #FFF, 1277px 1030px #FFF, 1674px 757px #FFF, 851px 579px #FFF, 69px 1196px #FFF, 1176px 547px #FFF, 1422px 589px #FFF, 2299px 832px #FFF, 846px 771px #FFF, 684px 786px #FFF, 1734px 700px #FFF, 782px 166px #FFF, 2057px 928px #FFF, 2233px 1109px #FFF, 1664px 1403px #FFF, 2207px 694px #FFF, 1016px 876px #FFF, 1388px 602px #FFF, 2299px 567px #FFF, 1196px 880px #FFF, 886px 143px #FFF, 1122px 785px #FFF, 1999px 925px #FFF, 1259px 752px #FFF, 2491px 179px #FFF, 969px 724px #FFF, 1272px 380px #FFF, 1716px 168px #FFF, 1948px 1081px #FFF, 647px 194px #FFF, 1511px 421px #FFF, 1345px 712px #FFF, 177px 1061px #FFF, 1024px 1050px #FFF, 645px 540px #FFF, 746px 224px #FFF, 1696px 281px #FFF, 1347px 1341px #FFF, 1759px 91px #FFF, 1069px 384px #FFF, 1126px 943px #FFF, 985px 982px #FFF, 1565px 1008px #FFF, 887px 933px #FFF, 1847px 425px #FFF, 912px 429px #FFF, 249px 1272px #FFF, 163px 699px #FFF;
}

#stars-mid {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 387px 919px #FFF, 2063px 254px #FFF, 2560px 161px #FFF, 1793px 1103px #FFF, 2067px 322px #FFF, 182px 616px #FFF, 729px 1136px #FFF, 608px 1113px #FFF, 1443px 497px #FFF, 2175px 140px #FFF, 838px 525px #FFF, 2394px 847px #FFF, 2204px 12px #FFF, 465px 195px #FFF, 1952px 1072px #FFF, 1935px 705px #FFF, 373px 953px #FFF, 2072px 820px #FFF, 2006px 888px #FFF, 2522px 33px #FFF, 2258px 1181px #FFF, 2084px 384px #FFF, 2307px 401px #FFF, 2323px 1389px #FFF, 1763px 1294px #FFF, 639px 531px #FFF, 2186px 1065px #FFF, 1056px 1105px #FFF, 2391px 830px #FFF, 1451px 1151px #FFF, 1359px 569px #FFF, 59px 1362px #FFF, 1852px 575px #FFF, 260px 1217px #FFF, 284px 1233px #FFF, 605px 1086px #FFF, 170px 36px #FFF, 2479px 171px #FFF, 2338px 67px #FFF, 413px 1269px #FFF, 26px 217px #FFF, 1847px 712px #FFF, 2520px 675px #FFF, 437px 299px #FFF, 2518px 298px #FFF, 2371px 1039px #FFF, 1739px 369px #FFF, 807px 1234px #FFF, 1337px 328px #FFF, 628px 1357px #FFF, 2189px 864px #FFF, 340px 410px #FFF, 81px 1082px #FFF, 1926px 94px #FFF, 538px 1001px #FFF, 242px 390px #FFF, 61px 1253px #FFF, 1068px 617px #FFF, 651px 755px #FFF, 114px 476px #FFF, 724px 876px #FFF, 564px 978px #FFF, 1302px 1234px #FFF, 2265px 7px #FFF, 684px 1132px #FFF, 2244px 1010px #FFF, 745px 1416px #FFF, 2529px 1248px #FFF, 263px 20px #FFF, 1225px 1090px #FFF, 1518px 587px #FFF, 1100px 1339px #FFF, 1464px 322px #FFF, 1738px 936px #FFF, 864px 28px #FFF, 2165px 419px #FFF, 577px 247px #FFF, 1445px 1370px #FFF, 503px 558px #FFF, 2470px 536px #FFF, 1450px 675px #FFF, 303px 249px #FFF, 1344px 254px #FFF, 1646px 1113px #FFF, 705px 709px #FFF, 1899px 1310px #FFF, 1547px 306px #FFF, 1462px 754px #FFF, 2171px 851px #FFF, 2203px 23px #FFF, 460px 489px #FFF, 1359px 616px #FFF, 968px 1132px #FFF, 2449px 1146px #FFF, 299px 149px #FFF, 2379px 966px #FFF, 1952px 1285px #FFF, 163px 948px #FFF, 1599px 60px #FFF, 1276px 864px #FFF, 589px 868px #FFF, 2286px 1304px #FFF, 1355px 694px #FFF, 1816px 64px #FFF, 848px 188px #FFF, 931px 472px #FFF, 142px 330px #FFF, 1694px 1034px #FFF, 1971px 480px #FFF, 2033px 108px #FFF, 1770px 42px #FFF, 209px 996px #FFF, 2328px 247px #FFF, 1419px 283px #FFF, 2064px 886px #FFF, 947px 734px #FFF, 426px 448px #FFF, 439px 863px #FFF, 1918px 1368px #FFF, 939px 1288px #FFF, 203px 65px #FFF, 764px 760px #FFF, 448px 77px #FFF, 328px 720px #FFF, 2363px 567px #FFF, 3px 1071px #FFF, 164px 640px #FFF, 879px 846px #FFF, 1809px 371px #FFF, 1162px 1177px #FFF, 1247px 1242px #FFF, 896px 1300px #FFF, 2002px 783px #FFF, 2560px 29px #FFF, 2494px 1164px #FFF, 1574px 1184px #FFF, 790px 734px #FFF, 508px 81px #FFF, 2352px 1364px #FFF, 805px 1280px #FFF, 1902px 707px #FFF, 1984px 1084px #FFF, 2162px 1354px #FFF, 459px 768px #FFF, 209px 386px #FFF, 1160px 124px #FFF, 662px 189px #FFF, 470px 123px #FFF, 2381px 1051px #FFF, 2038px 1357px #FFF, 455px 1240px #FFF, 821px 891px #FFF, 327px 221px #FFF, 2336px 3px #FFF, 1515px 1302px #FFF, 1804px 1394px #FFF, 883px 744px #FFF, 64px 1146px #FFF, 1231px 484px #FFF, 542px 264px #FFF, 2493px 40px #FFF, 986px 767px #FFF, 1407px 1331px #FFF, 666px 329px #FFF, 1852px 119px #FFF, 2201px 1226px #FFF, 1614px 64px #FFF, 1009px 522px #FFF, 2059px 766px #FFF, 861px 1179px #FFF, 1838px 669px #FFF, 2417px 635px #FFF, 197px 602px #FFF, 612px 658px #FFF, 1553px 184px #FFF, 861px 1145px #FFF, 2135px 1223px #FFF, 671px 881px #FFF, 1582px 1384px #FFF, 2107px 398px #FFF, 2076px 230px #FFF, 66px 1034px #FFF, 2339px 515px #FFF, 684px 904px #FFF, 2395px 1009px #FFF, 1633px 716px #FFF, 76px 874px #FFF, 21px 247px #FFF, 1413px 1123px #FFF, 2015px 156px #FFF, 1572px 603px #FFF, 902px 462px #FFF, 964px 269px #FFF, 100px 688px #FFF, 542px 620px #FFF, 74px 1069px #FFF, 714px 263px #FFF, 1471px 1151px #FFF, 1552px 304px #FFF;
  -webkit-animation: animStar 100s linear infinite;
  -moz-animation: animStar 100s linear infinite;
  -o-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
}
#stars-mid:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 387px 919px #FFF, 2063px 254px #FFF, 2560px 161px #FFF, 1793px 1103px #FFF, 2067px 322px #FFF, 182px 616px #FFF, 729px 1136px #FFF, 608px 1113px #FFF, 1443px 497px #FFF, 2175px 140px #FFF, 838px 525px #FFF, 2394px 847px #FFF, 2204px 12px #FFF, 465px 195px #FFF, 1952px 1072px #FFF, 1935px 705px #FFF, 373px 953px #FFF, 2072px 820px #FFF, 2006px 888px #FFF, 2522px 33px #FFF, 2258px 1181px #FFF, 2084px 384px #FFF, 2307px 401px #FFF, 2323px 1389px #FFF, 1763px 1294px #FFF, 639px 531px #FFF, 2186px 1065px #FFF, 1056px 1105px #FFF, 2391px 830px #FFF, 1451px 1151px #FFF, 1359px 569px #FFF, 59px 1362px #FFF, 1852px 575px #FFF, 260px 1217px #FFF, 284px 1233px #FFF, 605px 1086px #FFF, 170px 36px #FFF, 2479px 171px #FFF, 2338px 67px #FFF, 413px 1269px #FFF, 26px 217px #FFF, 1847px 712px #FFF, 2520px 675px #FFF, 437px 299px #FFF, 2518px 298px #FFF, 2371px 1039px #FFF, 1739px 369px #FFF, 807px 1234px #FFF, 1337px 328px #FFF, 628px 1357px #FFF, 2189px 864px #FFF, 340px 410px #FFF, 81px 1082px #FFF, 1926px 94px #FFF, 538px 1001px #FFF, 242px 390px #FFF, 61px 1253px #FFF, 1068px 617px #FFF, 651px 755px #FFF, 114px 476px #FFF, 724px 876px #FFF, 564px 978px #FFF, 1302px 1234px #FFF, 2265px 7px #FFF, 684px 1132px #FFF, 2244px 1010px #FFF, 745px 1416px #FFF, 2529px 1248px #FFF, 263px 20px #FFF, 1225px 1090px #FFF, 1518px 587px #FFF, 1100px 1339px #FFF, 1464px 322px #FFF, 1738px 936px #FFF, 864px 28px #FFF, 2165px 419px #FFF, 577px 247px #FFF, 1445px 1370px #FFF, 503px 558px #FFF, 2470px 536px #FFF, 1450px 675px #FFF, 303px 249px #FFF, 1344px 254px #FFF, 1646px 1113px #FFF, 705px 709px #FFF, 1899px 1310px #FFF, 1547px 306px #FFF, 1462px 754px #FFF, 2171px 851px #FFF, 2203px 23px #FFF, 460px 489px #FFF, 1359px 616px #FFF, 968px 1132px #FFF, 2449px 1146px #FFF, 299px 149px #FFF, 2379px 966px #FFF, 1952px 1285px #FFF, 163px 948px #FFF, 1599px 60px #FFF, 1276px 864px #FFF, 589px 868px #FFF, 2286px 1304px #FFF, 1355px 694px #FFF, 1816px 64px #FFF, 848px 188px #FFF, 931px 472px #FFF, 142px 330px #FFF, 1694px 1034px #FFF, 1971px 480px #FFF, 2033px 108px #FFF, 1770px 42px #FFF, 209px 996px #FFF, 2328px 247px #FFF, 1419px 283px #FFF, 2064px 886px #FFF, 947px 734px #FFF, 426px 448px #FFF, 439px 863px #FFF, 1918px 1368px #FFF, 939px 1288px #FFF, 203px 65px #FFF, 764px 760px #FFF, 448px 77px #FFF, 328px 720px #FFF, 2363px 567px #FFF, 3px 1071px #FFF, 164px 640px #FFF, 879px 846px #FFF, 1809px 371px #FFF, 1162px 1177px #FFF, 1247px 1242px #FFF, 896px 1300px #FFF, 2002px 783px #FFF, 2560px 29px #FFF, 2494px 1164px #FFF, 1574px 1184px #FFF, 790px 734px #FFF, 508px 81px #FFF, 2352px 1364px #FFF, 805px 1280px #FFF, 1902px 707px #FFF, 1984px 1084px #FFF, 2162px 1354px #FFF, 459px 768px #FFF, 209px 386px #FFF, 1160px 124px #FFF, 662px 189px #FFF, 470px 123px #FFF, 2381px 1051px #FFF, 2038px 1357px #FFF, 455px 1240px #FFF, 821px 891px #FFF, 327px 221px #FFF, 2336px 3px #FFF, 1515px 1302px #FFF, 1804px 1394px #FFF, 883px 744px #FFF, 64px 1146px #FFF, 1231px 484px #FFF, 542px 264px #FFF, 2493px 40px #FFF, 986px 767px #FFF, 1407px 1331px #FFF, 666px 329px #FFF, 1852px 119px #FFF, 2201px 1226px #FFF, 1614px 64px #FFF, 1009px 522px #FFF, 2059px 766px #FFF, 861px 1179px #FFF, 1838px 669px #FFF, 2417px 635px #FFF, 197px 602px #FFF, 612px 658px #FFF, 1553px 184px #FFF, 861px 1145px #FFF, 2135px 1223px #FFF, 671px 881px #FFF, 1582px 1384px #FFF, 2107px 398px #FFF, 2076px 230px #FFF, 66px 1034px #FFF, 2339px 515px #FFF, 684px 904px #FFF, 2395px 1009px #FFF, 1633px 716px #FFF, 76px 874px #FFF, 21px 247px #FFF, 1413px 1123px #FFF, 2015px 156px #FFF, 1572px 603px #FFF, 902px 462px #FFF, 964px 269px #FFF, 100px 688px #FFF, 542px 620px #FFF, 74px 1069px #FFF, 714px 263px #FFF, 1471px 1151px #FFF, 1552px 304px #FFF;
}

#stars-far {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 2345px 799px #FFF, 1801px 1168px #FFF, 876px 121px #FFF, 543px 2px #FFF, 965px 717px #FFF, 1816px 807px #FFF, 1491px 165px #FFF, 920px 1423px #FFF, 2411px 376px #FFF, 2364px 133px #FFF, 1590px 857px #FFF, 1674px 228px #FFF, 2117px 298px #FFF, 190px 523px #FFF, 1093px 1225px #FFF, 419px 797px #FFF, 1016px 308px #FFF, 1793px 698px #FFF, 1582px 63px #FFF, 1282px 320px #FFF, 726px 465px #FFF, 824px 1024px #FFF, 2354px 1376px #FFF, 431px 107px #FFF, 2467px 176px #FFF, 648px 1256px #FFF, 1416px 278px #FFF, 541px 138px #FFF, 692px 893px #FFF, 813px 1202px #FFF, 1610px 1047px #FFF, 1227px 1047px #FFF, 2328px 532px #FFF, 1491px 832px #FFF, 1712px 245px #FFF, 865px 1153px #FFF, 2177px 388px #FFF, 1229px 123px #FFF, 2205px 1125px #FFF, 2105px 960px #FFF, 500px 1171px #FFF, 2360px 975px #FFF, 2091px 1226px #FFF, 2058px 766px #FFF, 1285px 1201px #FFF, 1070px 657px #FFF, 982px 1193px #FFF, 2387px 196px #FFF, 1185px 348px #FFF, 1092px 1172px #FFF, 880px 744px #FFF, 1149px 1072px #FFF, 1245px 1218px #FFF, 490px 289px #FFF, 1299px 298px #FFF, 1092px 1315px #FFF, 1508px 1035px #FFF, 936px 295px #FFF, 1742px 279px #FFF, 633px 862px #FFF, 1594px 1087px #FFF, 1196px 396px #FFF, 84px 515px #FFF, 2187px 485px #FFF, 2256px 388px #FFF, 671px 423px #FFF, 1263px 451px #FFF, 2225px 254px #FFF, 1869px 858px #FFF, 1204px 1007px #FFF, 2385px 109px #FFF, 2209px 637px #FFF, 899px 264px #FFF, 1184px 881px #FFF, 1140px 1349px #FFF, 370px 1355px #FFF, 2259px 1078px #FFF, 748px 1103px #FFF, 1383px 834px #FFF, 1262px 870px #FFF, 2445px 1284px #FFF, 701px 145px #FFF, 692px 912px #FFF, 1063px 1299px #FFF, 433px 1434px #FFF, 2560px 178px #FFF, 2454px 356px #FFF, 2495px 504px #FFF, 1661px 653px #FFF, 1462px 1279px #FFF, 2297px 1418px #FFF, 2478px 850px #FFF, 1632px 66px #FFF, 825px 572px #FFF, 274px 854px #FFF, 1102px 247px #FFF, 1497px 1272px #FFF, 1959px 685px #FFF, 1455px 246px #FFF;
  -webkit-animation: animStar 50s linear infinite;
  -moz-animation: animStar 50s linear infinite;
  -o-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}
#stars-far:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 2345px 799px #FFF, 1801px 1168px #FFF, 876px 121px #FFF, 543px 2px #FFF, 965px 717px #FFF, 1816px 807px #FFF, 1491px 165px #FFF, 920px 1423px #FFF, 2411px 376px #FFF, 2364px 133px #FFF, 1590px 857px #FFF, 1674px 228px #FFF, 2117px 298px #FFF, 190px 523px #FFF, 1093px 1225px #FFF, 419px 797px #FFF, 1016px 308px #FFF, 1793px 698px #FFF, 1582px 63px #FFF, 1282px 320px #FFF, 726px 465px #FFF, 824px 1024px #FFF, 2354px 1376px #FFF, 431px 107px #FFF, 2467px 176px #FFF, 648px 1256px #FFF, 1416px 278px #FFF, 541px 138px #FFF, 692px 893px #FFF, 813px 1202px #FFF, 1610px 1047px #FFF, 1227px 1047px #FFF, 2328px 532px #FFF, 1491px 832px #FFF, 1712px 245px #FFF, 865px 1153px #FFF, 2177px 388px #FFF, 1229px 123px #FFF, 2205px 1125px #FFF, 2105px 960px #FFF, 500px 1171px #FFF, 2360px 975px #FFF, 2091px 1226px #FFF, 2058px 766px #FFF, 1285px 1201px #FFF, 1070px 657px #FFF, 982px 1193px #FFF, 2387px 196px #FFF, 1185px 348px #FFF, 1092px 1172px #FFF, 880px 744px #FFF, 1149px 1072px #FFF, 1245px 1218px #FFF, 490px 289px #FFF, 1299px 298px #FFF, 1092px 1315px #FFF, 1508px 1035px #FFF, 936px 295px #FFF, 1742px 279px #FFF, 633px 862px #FFF, 1594px 1087px #FFF, 1196px 396px #FFF, 84px 515px #FFF, 2187px 485px #FFF, 2256px 388px #FFF, 671px 423px #FFF, 1263px 451px #FFF, 2225px 254px #FFF, 1869px 858px #FFF, 1204px 1007px #FFF, 2385px 109px #FFF, 2209px 637px #FFF, 899px 264px #FFF, 1184px 881px #FFF, 1140px 1349px #FFF, 370px 1355px #FFF, 2259px 1078px #FFF, 748px 1103px #FFF, 1383px 834px #FFF, 1262px 870px #FFF, 2445px 1284px #FFF, 701px 145px #FFF, 692px 912px #FFF, 1063px 1299px #FFF, 433px 1434px #FFF, 2560px 178px #FFF, 2454px 356px #FFF, 2495px 504px #FFF, 1661px 653px #FFF, 1462px 1279px #FFF, 2297px 1418px #FFF, 2478px 850px #FFF, 1632px 66px #FFF, 825px 572px #FFF, 274px 854px #FFF, 1102px 247px #FFF, 1497px 1272px #FFF, 1959px 685px #FFF, 1455px 246px #FFF;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-100vh);
  }
}
@-moz-keyframes animStar {
  from {
    -moz-transform: translateY(0px);
  }
  to {
    -moz-transform: translateY(-100vh);
  }
}
@-o-keyframes animStar {
  from {
    -o-transform: translateY(0px);
  }
  to {
    -o-transform: translateY(-100vh);
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}

/*Test*/
/*Parallax*/
.parallax {
    height: 500px; /* fallback for older browsers */
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    min-height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer-rel {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

   /* centre the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #group1 {
    z-index: 2; /* slide under groups 1 and 3 */
  }
  #group1 .parallax__layer--back {
  }

  #music {
    z-index: 5; /* slide over group 2 and 4 */
  }
  #music .parallax__layer--base {
    color: $brand-dark;
    background: #EAE8D1;
  }

  #musicvideo {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #musicvideo .parallax__layer--deep {
  }

  #live {
    z-index: 5; /* slide over group 4 and 6 */
  }
  #live .parallax__layer--base {
    background: black;
  }

  #social {
    z-index: 2; /* slide under group 5 and 7 */
    padding-bottom: 1400px;
  }
  #social .parallax__layer--back {
  }

  #group6 {
    z-index: 5; /* slide over group 7 */
  }
  #group6 .parallax__layer--base {
    background: rgb(255,241,100);
  }

  #group7 {
    z-index: 5; /* slide over group 2 and 4 */
    min-height: 100vh;
  }
  #group7 .parallax__layer--base {
    color: white;
    background: black;
  }
/*Parallax*/
/*Admin*/
.devise-form {
  color: black;
}

.devise-form label, 
.devise-form h2 {
  color: white;
}


/*Footer*/
.footer {
  position: absolute;
  background: transparent;
  bottom: 0;
  width: 100%;
  padding-top: 0px;
}