<div class='container'>
	<p class='center'>
		&copy; <%= Time.now.year %> Bow Music
	</p>
	<a href='http://www.vergetone.com/' target='_blank'><img class='pull-right' style='max-width: 160px' src="/SiteCredit(White).png"/></a>
</div>