<div class='container'>
	<div class='social-icons-footer pull-left'>
  	<img src='/Facebook.png'/>
  	<img src='/Twitter.png' />
  	<img src='/Instagram.png' />
  	<img src='/GooglePlus.png' />
  	<img src='/Spotify_Badge(White_100).png' />
  	<img src='/Apple_Badge(White_100).png' />
  	<img src='/YouTube_Badge(White_100).png' />
  </div>
		<a href='http://www.vergetone.com/' target='_blank'><img class='pull-right' style='max-width: 160px' src="/SiteCredit(White).png"/></a>
</div>