<div class='container'>
	<div class='brand-mark pull-left'>
		<a href="/"><h1 class='script'>Bow</h1></a>
	</div>
	<div class='header__full'>
		<div class='menu pull-right'>
			<ul class='list-inline' style='display:inline-block;vertical-align:middle;margin-top:-5px;'>
				<li><a href='#group2'>MUSIC</a></li>
				<li><a href='#group3'>VIDEO</a></li>
				<li><a href='#group4'>LIVE</a></li>
				<li><a href='#group5'>SOCIAL</a></li>
			</ul>
			<iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:1BygGOp0eZirObthaawEs7&size=basic&theme=dark&show-count=0" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;display:inline-block;margin-top:10px;" allowtransparency="true"></iframe>
		</div>
	</div>
	<button class="cmn-toggle-switch toggle-dark cmn-toggle-switch__htx pull-right toggle-nav">
    <span>toggle menu</span>
  </button>
</div>